<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

  <div fxLayout="row" ngClass.xs="full-w">
    <ng-container *ngIf="(this.as.authError$ | async) as errObj">
      <div [class]="'alert '+ (errObj.error ? 'alert-danger':'alert-success')" role="alert"
        fxFlex.gt-xs="500px" fxFlex.xs="100%">
          {{errObj.error ? (errObj.errorMsg) : ('Sign in using your Health Manager account.')}}
          <div class="mt-1 register">
            <a [routerLink]="['/', 'auth', 'signup']">I don't have an account.</a>
          </div>
      </div>
    </ng-container>
  </div>

  <form [formGroup]="loginFg" ngClass.xs="full-w">
    <section fxLayout="row">
      <mat-form-field appearance="outline" fxFlex.gt-xs="500px">
        <mat-label>Login name</mat-label>
        <input type="text" matInput placeholder="Login name" formControlName="name">
      </mat-form-field>
    </section>

    <section fxLayout="row">
      <mat-form-field appearance="outline" fxFlex.gt-xs="500px">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
    </section>

  </form>

  <section ngClass.xs="full-w" ngClass.gt-sm="action-btns">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <button mat-flat-button color="accent" (click)="onForgot()">Forgot password?</button>
      </div>

      <div>
        <button mat-flat-button color="primary" (click)="onSignin()">Login</button>
      </div>
    </div>
  </section>

</div>
