<div fxLayout="column">
  <ng-container *ngrxLet="(this.as.currentUser$) as user">
    <div fxLayout="row" fxLayoutAlign="start center" class="title mb-3">
      <span class="mr-1">Hello</span>
        <ng-container *ngIf="user !== null">
          <span class="mr-1">
            {{user ? user.email : 'guest'}},
          </span>
        </ng-container>
      <span>
        let's get started!
      </span>
    </div>
  </ng-container>

  <p>
    Health Manager makes exercise motivating and fun. Create your own exercise activities and keep track of your progress all in one place!
  </p>
  <div class="title mb-2">
    Select an exercise:
  </div>
  <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.gt-sm="start center"
    fxLayoutGap="10px">
    <ng-container *ngIf="((this.cs.isApiFirstLoading$ | async) === true); else exerOpt">
      <div>
        Loading excercises...
      </div>
    </ng-container>

    <ng-template #exerOpt>
      <mat-form-field class="exer-input">
        <mat-label>Exercise</mat-label>
        <mat-select [formControl]="exerSelectFc">
          <mat-optgroup [label]="'Available'">
            <mat-option *ngFor="let exer of (this.cs.availableExers$ | async)" [value]="exer">
              {{exer.name}}
              <span> ({{exer.sets}}) </span>
              <span> {{ exer.countPerSet }} </span>
              <span>{{ exer.setUnitTypeIsTime ? 'sec' : 'count' }}</span>
              <i [class]="'mx-2 ' + (exer.setUnitTypeIsTime ? 'fas fa-clock': 'fas fa-clipboard-check')"></i>
            </mat-option>
          </mat-optgroup>

          <mat-optgroup [label]="'New'">
            <mat-option [value]="{}">
              Create new
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </ng-template>

  </div>
</div>
