<mat-toolbar class="app-header" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="33%">
    <button mat-icon-button color="primary" (click)="onMenuClick()"
      class="mat-elevation-z0">
        <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="" fxFlex="34%" fxLayoutAlign="center">
    <a [routerLink]="'/'" class="" (click)="onLogoClick()">
      <img src="assets/banner/logo.png"
        class="logo-img d-inline-block" alt="logo">
      <div class="banner-text ml-3" fxHide.lt-sm>{{ headerTitle }}</div>
    </a>
  </div>

  <div class="" fxFlex="33%" fxLayoutAlign="end">
    <section fxHide.lt-md>
      <button mat-flat-button class="">
        Training
      </button>
      <button mat-flat-button class="">
        Community
      </button>
    </section>

    <button mat-button [matMenuTriggerFor]="menu" class="">
      <div class="profile-img-parent">
        <img [src]="(this.as.currentUserLogo$ | async)" class="img-h-100 round-corners" alt="avartar">
      </div>
    </button>

    <mat-menu #menu="matMenu">
      <button *ngFor="let item of userMenuItems" mat-menu-item (click)="onMenuItemClick(item)"
        [disabled]="item.disabled">
        <mat-icon *ngIf="item.iconName">{{item.iconName}}</mat-icon>
        <span>{{item.display}}</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>
