table {
  width: 100%;
}

mat-form-field {
  width: 25rem;
}

.table-parent {
  overflow: auto;
}

.table-row-bg {
  background-color: #cccccc2b;
}

.border {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
}
