<ng-container *ngIf="(this.cs.isApiLoading$ | async) === (false); else loading">
  <ng-container *ngIf="(this.cs.selectedExerToStart$ | async) as exerToStart; else noExerciseExist">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">

      <div class="font-color">
        <div class="title">
          {{ exerToStart?.name }}
        </div>
      </div>

      <div class="border text-center" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15px">
        <div class="font-color">
          {{ exerToStart?.typeDescription }}
        </div>
        <div class="font-weight-bold">
          <i class="fa fa-tasks mr-2"></i> {{ exerToStart?.details?.setCount }} sets
        </div>
        <div class="font-weight-bold">
          <i [class]="'mr-2 fa ' + (exerToStart?.details?.time ? 'fa-hourglass' : 'fa-check-circle')"></i>
          <span>{{ exerToStart?.details?.duration }}</span>
          <span>{{ exerToStart?.details?.time ? ' seconds per set' : ' reps per set' }}</span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="mt-3">
        <button mat-flat-button color="primary" (click)="onStart(exerToStart?.exercise)">Start!</button>
        <button mat-flat-button color="warn" (click)="onCancel()">Back to home</button>
      </div>
    </div>

  </ng-container>
</ng-container>

<ng-template #loading>
  <app-shared-loading-spinner></app-shared-loading-spinner>
</ng-template>

<ng-template #noExerciseExist>
  Selected exercise does not exist...
</ng-template>
