<div class="row my-5">
  <div class="col-12">
    Signup for a new account!
  </div>
</div>

<section class="">
  <form>
    <mat-form-field class="">
      <input type="email" matInput placeholder="Ex. kevin@example.com">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <mat-form-field class="">
      <input type="password" matInput placeholder="A password">
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
  </form>
</section>
