<div class="container pb-3 pb-5" fxLayout="column" fxLayoutGap="10px">
  <div class="sticky-topp">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="title mat-elevation-z0">
      <div>
        <a [routerLink]="['/', 'admin']">
          Admin Panel
        </a>
        <ng-container *ngIf="!(this.as.exerFormStatus$ | async)">
          <span class="status-msg ml-3">Please fix the errors before saving*</span>
        </ng-container>
      </div>
      <div>
        <ng-container *ngIf="(this.as.adminPanelButtons$ | async) as btns">
          <ng-container *ngFor="let btn of btns">

            <button mat-button ngClass.lt-md="mat-icon-button" class="mr-3" *ngIf="!btn.btnMenu"
              ngClass.gt-sm="mat-flat-button"
              color="primary" (click)="onPanelBtnClick(btn)"
              type="button">
                <span fxHide fxShow.gt-sm>{{btn.btnName}}</span>
                <mat-icon fxHide fxShow.lt-sm>{{ btn.btnName | iconDisplay }}</mat-icon>
            </button>

            <button mat-button ngClass.lt-md="mat-icon-button" class="mr-3" *ngIf="btn.btnMenu"
              ngClass.gt-sm="mat-flat-button"
              color="primary" (click)="onPanelBtnClick(btn)"
              type="button" [matMenuTriggerData]="{menuItems: btn.btnMenuItems}"
              [matMenuTriggerFor]="menu">
                <div fxHide fxShow.gt-sm fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                  <div>{{btn.btnName}}</div>
                  <div fxLayout="row" fxLayoutAlign="center center"><mat-icon>keyboard_arrow_down</mat-icon></div>
                </div>
                <mat-icon fxHide fxShow.lt-sm>{{ btn.btnName | iconDisplay }}</mat-icon>
            </button>

          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-name="menuItems">
    <button mat-menu-item *ngFor="let opt of name" (click)="onPanelMenuClick(opt)">{{opt}}</button>
  </ng-template>
</mat-menu>
