.title {
  font-size: 19px;
  font-weight: 700;
}

.sticky-topp .title {
  padding-left: 0px;
  height: 4rem;
  border-bottom: 1px solid #ccc;
}

.sticky-topp .status-msg {
  font-size: 14px;
  color: #c45757;
}

.loading-bar {
  margin: 0;
  height: 7px;
}
