<div>
  <h1 mat-dialog-title>
    Reset Password
  </h1>

  <hr>

  <div mat-dialog-content fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">
    <div>
      Enter your email address, a recovery email will be sent to you.
    </div>
    <div class="full-w">
      <form class="full-w">
        <mat-form-field class="full-w">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFc" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFc.hasError('email') && !emailFc.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFc.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-flat-button (click)="onSubmit()" color="primary" class="mr-2"
      [disabled]="(this.as.userResetLoginLoading$ | async)">Send</button>
    <div *ngIf="(this.as.userResetLoginLoading$ | async)">
      <app-shared-loading-spinner [diamter]="25"></app-shared-loading-spinner>
    </div>
  </div>
</div>

