/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}

.font-color {
color: #4d5156;
}

.border {
  border: 1px solid #eee;
  padding: 30px;
  border-radius: 15px;
}

button.mat-flat-button {
  min-width: 6rem;
}

.mfont {
  font-family: 'Lato', sans-serif;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

mat-sidenav {
  width: 300px;
}

mat-list-item mat-icon {
  cursor: default;
}

.round-corners {
  border-radius: 50%;
}

.img-h-100 {
  height: 100%;
}

.full-w {
  width: 100%;
}

a:hover {
  text-decoration: none !important;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #666;
}

.underline-double {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #666;
  text-decoration-style: double;
}

/**
Used to sticky button rows, etc
**/
.sticky-topp {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 3;
}

.title {
  font-size: 19px;
  font-weight: 700;
}
